@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: #A14943;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 400px;
}

.card {
  width: 400px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 2rem;
}
.card h2 {
  margin: 0.6rem 0;
}
.card p {
  margin: 0.5rem 0;
  font-weight: 300;
}
.card p span {
  margin-left: 1rem;
}
.card p i {
  color: #A14943;
}

img {
  margin-top: -6rem;
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  border: 10px solid #A14943;
  background: #fff;
}

button {
  margin: 2rem 0;
  height: 50px;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #fff;
  word-spacing: 0.5rem;
  font-weight: 500;
  cursor: pointer;
}